h2 {
  opacity: 0.7;
  color: #ff0000;
  font-size: 45px;
  letter-spacing: 5px;
}
body {
    margin: 0;
    overflow: hidden;
}

.moving-text {
    position: absolute;
    white-space: nowrap;
    font-size: 24px;
    animation: moveText 5s linear infinite; /* アニメーションのプロパティを設定 */
}

@keyframes moveText {
    0% {
        transform: translateX(100%); /* 開始位置（右端） */
    }
    100% {
        transform: translateX(-100%); /* 終了位置（左端） */
    }
}
