h2 {
    opacity: 0.7;
    color: #ff0000;
    font-size: 30px;
    letter-spacing: 5px;
  }
  .box{
    border: 2px solid #aaa;
    border-radius: 10x;
    background-color: #eee;
    padding: 2em;
  }

  .bread li {
	display: inline-block;
	margin-left: 12px;
	padding-left: 16px;
	background: url(./images/icon_breadcrumbs.svg) left center/6px auto no-repeat;
}
.bread li:first-child {
	margin-left: 0;
	padding-left: 0;
	background: none;
}

.koko{
    color: black;
}